# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Database
db.sqlite3
db.sqlite3-journal

# Sensitive Info
credentials.txt
.env

# Media / Uploads
media/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local

# Logs and OS
*.log
.DS_Store
Thumbs.db
.vscode/
.idea/

# Local Project Documentation
TENANTVAULT_DOCUMENTATION.md
HOW_TO_RUN_PROJECT.txt
PROJECT_STATUS_AND_PROCESS.txt
