asgiref
channels
cryptography
daphne
django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
sqlparse
tzdata
psycopg2-binary
celery
redis
django-environ
whitenoise
cloudinary
django-cloudinary-storage
channels-redis
